[submodule "lib/django-schemamaker"]
	path = lib/django-schemamaker
	url = git://github.com/zbyte64/django-schemamaker.git
[submodule "lib/django-dockit"]
	path = lib/django-dockit
	url = git://github.com/zbyte64/django-dockit.git
[submodule "lib/django-dockitcms"]
	path = lib/django-dockitcms
	url = git://github.com/zbyte64/django-dockitcms.git
