[submodule "dockitcms"]
	path = dockitcms
	url = git://github.com/zbyte64/django-dockitcms.git
[submodule "dockit"]
	path = dockit
	url = git://github.com/zbyte64/django-dockit.git
[submodule "django-schemamaker"]
	path = django-schemamaker
	url = git://github.com/zbyte64/django-schemamaker.git
[submodule "schemamaker"]
	path = schemamaker
	url = git://github.com/zbyte64/django-schemamaker.git
