Django==1.4.2
django-dockit==0.0.10
django-dockitcms==0.0.10
django-classy-tags

pytz
mimeparse
-e git+git://github.com/zbyte64/django-hyperadmin.git#egg=django-hyperadmin
-e git+git://github.com/zbyte64/django-hyperadmin-dockitresource.git#egg=django-hyperadmin-dockitresource
-e git+git://github.com/zbyte64/django-hyperadminclient.git#egg=django-hyperadminclient
