Django==1.4.2
-e git+git://github.com/zbyte64/django-dockit.git#egg=django-dockit
-e git+git://github.com/zbyte64/django-dockitcms.git@hyperadmin#egg=django-dockitcms
django-classy-tags

pytz
mimeparse
-e git+git://github.com/zbyte64/django-hyperadmin.git#egg=django-hyperadmin
-e git+git://github.com/zbyte64/django-hyperadmin-dockitresource.git#egg=django-hyperadmin-dockitresource
-e git+git://github.com/zbyte64/django-hyperadmin-client.git#egg=django-hyperadmin-client
