Django==1.4.2
psycopg2
gevent
gunicorn
django-storages
pymongo
-e git+git://github.com/zbyte64/django-dockit.git#egg=django-dockit
-e git+git://github.com/zbyte64/django-dockitcms.git@hyperadmin#egg=django-dockitcms
django-classy-tags
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4
raven

pytz
mimeparse
-e git+git://github.com/zbyte64/django-hyperadmin.git#egg=django-hyperadmin
-e git+git://github.com/zbyte64/django-hyperadmin-dockitresource.git#egg=django-hyperadmin-dockitresource
-e git+git://github.com/zbyte64/django-hyperadmin-client.git#egg=django-hyperadmin-client
